body { 
    background-color: #c2ddf2;
}

.white {
    background-color: white;
    z-index: 99;
}

#plum_square {
    height: 100px;
    width: 100%;
    background-color: #423760;
}

#blue_square {
    height: 100px;
    width: 100px;
    background-color: #c2ddf2;
}

li {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.font1 {
    font-family: "Playfair Display";
}

.font2 {
    font-family: "Nanum Myeongjo";
}

.font3 {
    font-family: "Old Standard TT";
}

.font4 {
    font-family: "Cormorant Garamond";
}

.font5 {
    font-family: "Playfair Display SC";
}

.font6 {
    font-family: "Vidaloka";
}

.font7 {
    font-family: "Suranna";
}

.font8 {
    font-family: "Baskervville";
}

.font9 {
    font-family: "Goudy Bookletter 1911";
}

.font10 {
    font-family: "Fanwood Text";
}

.font11 {
    font-family: "Bellefair";
}

.font12 {
    font-family: "Ibarra Real Nova";
}

.font13 {
    font-family: "Suranna";
    text-transform: uppercase;
}

.font14 {
    font-family: "Fanwood Text";
    text-transform: uppercase;
}

.font15 {
    font-family: "Cormorant Unicase";
    text-transform: uppercase;
}

.font16 {
    font-family: "Rozha One";
    text-transform: uppercase;
}

.font17 {
    font-family: "DM Serif Text";
    text-transform: uppercase;
}

.font18 {
    font-family: "Marcellus";
    text-transform: uppercase;
}

.font19 {
    font-family: "Crimson Pro";
    text-transform: uppercase;
}

.font20 {
    font-family: "Bentham";
    text-transform: uppercase;
}

.font21 {
    font-family: "Gilda Display";
    text-transform: uppercase;
}

#logo_box {
    /* -webkit-box-shadow: 11px 11px 40px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 40px -6px rgba(0,0,0,0.75); */
    box-shadow: 11px 11px 40px -6px rgba(0,0,0,0.75);
    background-color: white;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

#logo {
    cursor: pointer;
}
 
#logo_box:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: .5s;
}

#container {
    opacity: 0;
}