* {
    box-sizing: border-box;
    margin: 0;
}

.index-html, .index-body {
    overflow: hidden;
    height: 100%;
}

#JiSlider {
    width: 100%;
    height: 100%;
}

/* Logo */

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding: 5px 5px;
    color: white;    
}

.logo h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    transition: .5s;
    animation-direction: reverse;
    margin-bottom: 20px;
}


.dark {
    color: #000;
    transition: .5s;
}

.hidden_helper {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height:  20px;
    width: 20px;
}

/* Nav */

.navigation {
    height: 100vh;
}

.index-body .navigation a {
    position: absolute;
    bottom: 30px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'oxygen', sans-serif;
    transition: .25s;
    color: inherit;
}

.contact-body .navigation a {
    text-decoration: none;
}

.contact-text a {
    line-height: 1.7rem;
    font-size: .8rem;
    text-decoration: none;
    font-family: 'oxygen', sans-serif;
    transition: .25s;
    color: inherit;
}

.index-body .navigation a::after,
.contact-text a::after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #423761;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transition: .5s;
}

.index-body .navigation a:hover::after,
.contact-text a:hover::after {
    opacity: 1;
    transform: scale(1);
    transition: .5s;
}

.contact-body .navigation a:hover {
    color: #423761;
}
.navigation a:visited,
.contact-text a:visited {
    color: inherit;
}

/* ABOUT PG */


/* FLEXBOX SETUP */

.row {
    display: flex;
}

.column-row {
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

.col-2 {
    flex-basis: .166666%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: .333333333%;
}

.col-6 {
    flex-basis: 50%;
}

.col-2,
.col-3,
.col-4,
.col-6 {
    height: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
}


.contact-text {
    font-size: .8rem;
    font-family: 'Oxygen', sans-serif;
    line-height: 1.7rem;
/*     margin-top: 200px; */
}

.contact-text a {
    display: inline-block; /*change to inline-block to make full-width underline*/
    text-decoration: none;
    color: inherit;
    transition: .25s;
}

.desk-img {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100vh;
    padding-left: 40px;
}

/* contact form */

form {
    text-align: left;
}

h3 {
    font-family: 'oxygen', sans-serif;
    font-size: 1rem;
/*     margin-top: 50px; */
    margin-bottom: 20px;
}

.form-text {
    width: 100%;
    border: 1px solid black;
    font-family: 'oxygen', sans-serif;
    padding-left: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    border: 1px solid black;
    height: 150px;
    resize: none;
    overflow: scroll;
    font-family: 'oxygen', sans-serif;
    padding: 5px;
}

::placeholder {
    font-family: 'Oxygen', sans-serif;
}

button {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 5px 0;
    transition: .25s;
}

button:hover {
    background-color: #c2ddf2;
    transition: .25s;
}

#my-form-status {
    font-family: 'oxygen', sans-serif;
    font-size: .8rem;
    text-align: center;
    line-height: 1.2rem;
    margin-top: 5px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-family: 'oxygen', sans-serif;
    font-size: .6rem;
    text-transform: uppercase;
    color: white;
    padding-top: 5px;
    padding-right: 10px;
    border-top: 1px solid white;
    text-align: right;
}

.footer-border {
    border-top: 1px solid black;
}

footer a {
    color: inherit;
    text-underline-offset: 1px;
    transition: .25s;
}

footer a:hover {
    cursor: pointer;
    color: #c2ddf2;
    transition: .5s;
}

@media only screen and (max-width: 750px) {
    .contact-body .navigation {
        top: 0px;
        left: 0px;
        position: fixed;
        background-color: white;
        width: 100%;
        border-bottom: 1px solid black;
        height: auto;
    }

    .desk-img {
        position: unset;
        width: 100%;
        height: auto;
        padding: 20px;
        transform: unset;
    }

    .contact-text {
        margin-top: 180px;
        margin-bottom: 20px;
    }

    .index-body .navigation {
        top: 0px;
        left: 0px;
    }

    .contact-body {
        height: unset;
        overflow: unset;
    }

    .row {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    textarea {
        margin: unset;
    }

    textarea::placeholder {
        padding-left: unset;
    }

    .footer-border {
        position: static;
        color: black;
    }
}