* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    overflow: hidden;
    height: 100%;
}

#JiSlider {
    width: 100%;
    height: 100%;
}

/* flexbox setup */

.row {
    display: flex;
}

.col-6 {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Logo */

.logo {
    background: linear-gradient(90deg, rgba(25,25,25,.8) 0%, rgba(0,0,0,0) 100%);
/*     isolation: isolate; */
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    padding: 0 0 2px 10px;
    
/*     mix-blend-mode: difference; */
/*     filter: invert(50%); */
}

.logo h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    color: #FFF;
}

.logo-white {
    background: unset;
}

.dark p {
    color: #000;
}

/* Nav */

.navigation {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navigation a {
    text-decoration: none;
    font-family: 'oxygen', sans-serif;
        letter-spacing: 2px;
        color: black;
        border: 1px solid white;
        padding: 5px;
        background-color: rgba(255,255,255,.5);
    transition: .25s;
}

#contact-return-link {
    right: 20px;
    top: 20px;
}

#contact-return-link:hover {

    transition: .25s;  
}

.navigation a:hover {
    background-color: rgba(255,255,255,1);
    border: 1px solid black;
    transition: .25s;
}

.navigation-dark a {
    color: #000;
    transition: .25s;
}

.navigation-dark a:hover {
    color: #c2ddf2;
    transition: .25s;
}

/* reduce the space btwn the words "contact us" */
.navigation span {
    font-size: .5rem;
}

/* ABOUT PG */

.contact-body {
/*     position: relative; */
    background-image: url('images/izzy_desk.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}

.contact-body-blur {
    backdrop-filter: blur(5px);
    transition: .5s;
}

.bio {
    margin: 150px auto 0 auto;
    width: 100%;
    max-width: 800px;
    color: #FFF;
}

.bio p {
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 1px;
    line-height: 1.2rem;
}

.contact-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-size: .8rem;
    font-family: 'Oxygen', sans-serif;
    line-height: 1.7rem;
    text-align: right;
}

.contact-text a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: .25s;
}

.contact-text a:hover {
    color: #c2ddf2;
    transform: translateX(-15px);
    transition: .25s;
}

/* contact box and form */


.contact-box {
    color: white;
    text-align: center;
    font-family: "oxygen", sans-serif;
    font-size: .8rem;
    margin: 0 auto;
    width: 700px;
    height: 450px;
    border: 1px solid #c3ddf2;
    background-color: rgb(50,50,50, .9);
    transition: .5s ease-out;
    transform: translateY(50%);
}

.hidden {
    opacity: 0;
    transform: translateY(40%);
}

.contact-box h3 {
    margin-top: 20px;
    font-size: 25px;
    font-family: "Major Mono Display", monospace;
}

form ul {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    line-height: 2rem;
    justify-content: space-evenly;
}

.contact-box label {
    margin-right: 10px;
}

.contact-activate-button:hover {
    cursor: pointer;
}

.contact-activate-button:active {
    color: black;
}

textarea {
    margin-top: 10px;
    width: 500px;
    height: 150px;
    background-color: rgba(255,255,255,.5);
    border: none;
    resize: none;
    overflow: scroll;
    font-family: 'oxygen', sans-serif;
    padding-left: 10px;
}

::placeholder {
    color: white;
    font-family: "Oxygen", sans-serif;
    padding-left: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: .8rem;
}

.form-text {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(255,255,255,.5);
    border: none;
}

textarea:focus,
.form-text:focus {
    background-color: white;
    border: 1px solid #423760;
}

.form-submit-button {
    margin-top: 50px;
    width: 150px;
    height: 25px;
    border: 1px solid black;
    transition: .25s;
}

.form-submit-button:hover {
    color: white;
    background-color: rgba(0,0,0,.3);
    transition: .25s;
}

.form-submit-button:active {
    background-color: rgba(194, 221, 242, .5);
}

#mdiv {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    background-color: white;
    border: 1px solid black;
    transition: .5s;
}
  
.mdiv {
    height: 25px;
    width: 2px;
    margin-left: 11px;
    background-color: black;
    transform: rotate(45deg);
    }
  
.md {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
}

#mdiv:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition: .75s;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-family: 'oxygen', sans-serif;
    color: #fff;
    font-size: .6rem;
    text-transform: uppercase;
}

footer a {
    color: inherit;
    text-underline-offset: 1px;
    transition: .25s;
}

footer a:hover {
    cursor: pointer;
    color: #c2ddf2;
    transition: .5s;
}

@media only screen and (max-width: 600px) {

    .mobile-nav-bottom {
        top: unset;
        bottom: 25px;
    }

    .mobile-nav-bottom a {
        font-family: 'oxygen', sans-serif;
        letter-spacing: 2px;
        color: black;
        border: 1px solid white;
        padding: 5px;
        background: rgba(255,255,255,.5)
    }

    .mobile-nav-bottom a:active {
        border: 1px solid black;
    }

    .contact-box {
        transform: translateY(35%);
        width: 90%;
    }

    .contact-box ul {
        flex-direction: column;
    }

    textarea {
        width: 90%;
        margin: unset;
    }

    textarea::placeholder {
        padding-left: unset;
    }
}